<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Account</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/qstyle.css">
    <!-- jQuery library -->
</head>
<body>
<div id="container" class="container">
    <div id="header" class="">

    </div>
    <div id="navigation" class="navigation">

    </div>
    <div id="menu" class="menu" th:replace="menu::menu">

    </div>
    <div id="content">
        <p>
        <form  th:action="@{/addaccount}" method="post" th:object="${account}">
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <label for="accountName" th:text="#{registryform.accountName}">Account Name:</label>
                        </td>
                        <td>
                            <input th:field="*{accountName}" class="form-control" type="text" id="accountName" name="accountName" placeholder="Enter account name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="typeAccount" th:text="#{registryform.typeAccount}">Type Account:</label>
                        </td>
                        <td>
                            <select id="typeAccount" name="typeAccount" th:field="*{typeAccount.id}">
                                <option th:each="typeAcc: ${typeAccounts}" th:value="${typeAcc.getId()}" th:text="${typeAcc.getTypeAccountName()}" class="form-control">3</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success" type="submit" th:text="#{registryform.buttonAccount}"></button>
                        </td>

                    </tr>
                </table>
            </div>
        </form>
        </p>

    </div>
    <div id="clear">

    </div>
    <div id="footer" class="footer">

    </div>


</div>

</body>
</html>