<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Contractor</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/qstyle.css">
    <!-- jQuery library -->
</head>
<body>
<div id="container" class="container">
    <div id="header" class="">

    </div>
    <div id="navigation" class="navigation">

    </div>
    <div id="menu" class="menu" th:replace="menu::menu">

    </div>
    <div id="content">
        <p>
        <form  th:action="@{/contractorlegalentity}" method="post" th:object="${contractorIndividual}">
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <label for="contractorName" th:text="#{registryform.contractorName}">Company:</label>
                        </td>
                        <td>
                            <input th:field="*{contractorName}" class="form-control" type="text" id="contractorName" name="contractorName" placeholder="Enter contractor name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="firstName" th:text="#{registryform.firstName}">First Name:</label>
                        </td>
                        <td>
                            <input th:field="*{firstName}" class="form-control" type="text" id="firstName" name="firstName" placeholder="Enter first name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="lastName" th:text="#{registryform.lastName}">Email:</label>
                        </td>
                        <td>
                            <input th:field="*{lastName}" class="form-control" type="text" id="lastName" name="lastName" placeholder="Enter last name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="numberPassport" th:text="#{registryform.numberPassport}">City:</label>
                        </td>
                        <td>
                            <input th:field="*{numberPassport}" class="form-control" type="text" id="numberPassport" name="numberPassport" placeholder="Enter passport">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success" type="submit" th:text="#{registryform.buttonContractor}">Ф</button>
                        </td>

                    </tr>
                </table>
            </div>
        </form>
        </p>

    </div>
    <div id="clear">

    </div>
    <div id="footer" class="footer">

    </div>


</div>

</body>
</html>