<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Company</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/qstyle.css">
    <!-- jQuery library -->
</head>
<body>
<div id="container" class="container">
    <div id="header" class="">

    </div>
    <div id="navigation" class="navigation" th:replace="navigation::navigation">

    </div>
    <div id="menu" class="menu" th:replace="menu::menu">

    </div>
    <div id="content">
        <p>
        <form  th:action="@{/companies}" method="post" th:object="${company}">
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <label for="companyName" th:text="#{registryform.companyName}">Company:</label>
                        </td>
                        <td>
                            <input th:field="*{companyName}" class="form-control" type="text" id="companyName" name="companyName" placeholder="Enter company name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="description" th:text="#{registryform.description}">First Name:</label>
                        </td>
                        <td>
                            <input th:field="*{description}" class="form-control" type="text" id="description" name="description" placeholder="Enter description">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="email" th:text="#{registryform.email}">Email:</label>
                        </td>
                        <td>
                            <input th:field="*{contact.email}" class="form-control" type="email" id="email" name="email" placeholder="email@gmail.com">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="phone" th:text="#{registryform.phone}">Phone:</label>
                        </td>
                        <td>
                            <input th:field="*{contact.phone}" class="form-control" type="text" id="phone" name="phone" placeholder="Phone +37529 1111111">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success" type="submit" th:text="#{registryform.buttonCompany}">Ф</button>
                        </td>

                    </tr>
                </table>
            </div>
        </form>
        </p>

    </div>
    <div id="clear">

    </div>
    <div id="footer" class="footer">

    </div>


</div>

</body>
</html>