<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contractors</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/qstyle.css">
    <!-- jQuery library -->
</head>
<body>
<div id="container" class="container">
    <div id="header" class="">

    </div>
    <div id="navigation" class="navigation" th:replace="navigation::navigation">

    </div>
    <div id="menu" class="menu" th:replace="menu::menu">

    </div>
    <div id="content">
        <p class="p">
        <form th:action="@{/addcontractor}" method="post">
            <div class="btn-group">
                <label class="btn btn-primary">
                    <input type="radio" name="contractorOption" id="contractorlegalentity" value="contractorlegalentity" autocomplete="off" checked>company
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="contractorOption" id="contractorindividual" value="contractorindividual" autocomplete="off">Individual
                </label>
            </div>
        <button  class="btn btn-success" type="submit" >Add Contractor</button>
        </form>
        </p>
        <p class="p">
        <table class="table">
            <thead>
            <tr>
                <td scope="col">Contractor Name</td>
                <td scope="col">Contractor Type</td>
            </tr>
            </thead>
            <tr th:each="contractor : ${contractors}">
                <td th:text="${contractor.getContractorName()}"></td>
                <td th:text="${contractor.getTypeContractor()}"></td>
            </tr>
        </table>
        </p>

    </div>
    <div id="clear">

    </div>
    <div id="footer" class="footer">

    </div>


</div>

</body>
</html>