<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/qstyle.css">
    <!-- jQuery library -->
</head>
<body>
<div id="container" class="container">
    <div id="header" class="">

    </div>
    <div id="navigation" class="navigation" th:replace="navigation::navigation">

    </div>
    <div id="menu" class="menu" th:replace="menu::menu">

    </div>
    <div id="content">
        <p>
            <table>
                <tr>
                    <td th:text="${transaction.transactionDate}">

                    </td>
                    <td th:text="${transaction.currency.currency}">

                    </td>
                    <td th:text="${transaction.accountDebit.accountName}">

                    </td>
                    <td th:text="${transaction.amountDebit}">

                    </td>
                </tr>
            </table>
        </p>
        <p>
        <form  th:action="@{/deletetransaction}" th:object="${transaction}" method="post">
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <input class="form-control" type="hidden" id="transactionId" name="transactionId" th:text="${transaction.id}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success" type="submit" th:text="#{registryform.buttonDelete}">Ф</button>
                        </td>

                    </tr>
                </table>
            </div>
        </form>
        </p>

    </div>
    <div id="clear">

    </div>
    <div id="footer" class="footer">

    </div>

</div>

</body>
</html>