<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/thymeleaf-extras-springsecurity4">
    <div id="menu" class="menu" th:fragment="menu">
        <table>
            <tr>
                <td>
                    <a class="btn btn-outline-secondary" th:href="@{/registry}">Registry</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-outline-secondary" th:href="@{/companies}">Companies</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-outline-secondary" th:href="@{/contractors}">Contractors</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-outline-secondary" th:href="@{/account}">Accounts</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-outline-secondary" th:href="@{/rates}">Rates</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-outline-secondary" th:href="@{/transactions}">Transactions</a>
                </td>
            </tr>
            <tr>
                <td >
                    <a sec:authorize="isAuthenticated()" class="a" th:href="@{/logout}">Logout</a>
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</html>