<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/qstyle.css">
    <!-- jQuery library -->
</head>
<body>
<div id="container" class="container">
    <div id="header" class="">

    </div>
    <div id="navigation" class="navigation" th:replace="navigation::navigation">

    </div>
    <div id="menu" class="menu" th:replace="menu::menu">

    </div>
    <div id="content">
        <p class="form-group">
        <form th:action="@{/addtransaction}" method="post" th:object="${transaction}">
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <label for="transactionDate">Transaction Date:</label>
                        </td>
                        <td>
                            <input th:field="*{transactionDate}" class="form-control" type="date" id="transactionDate" name="transactionDate">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="currencyTransaction">Transaction Currency:</label>
                        </td>
                        <td>
                            <select class="form-control" id="currencyTransaction" name="currencyTransaction" th:field="*{currency.id}">
                                <option checked th:if="${currency.id} == ${user.getCurrency().id}" th:each="currency : ${currencies}" th:value="${currency.id}" th:text="${currency.getCurrency()}">USD</option>
                                <option th:if="${currency.id} != ${user.getCurrency().id}" th:each="currency : ${currencies}" th:value="${currency.id}" th:text="${currency.getCurrency()}">USD</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success" type="submit" th:text="#{registryform.buttonTransaction}"></button>
                        </td>

                    </tr>
                </table>
            </div>
        </form>
        </p>
        <p class="p">
        <table>
            <tr>
                <td th:each="page : ${pageCount}">
                    <a th:href="@{/transactions(page=${page})}" th:text="${page}"></a>
                </td>
            </tr>
        </table>
        <table class="table">
            <thead>
            <tr>
                <td scope="col">Date Transaction</td>
                <td scope="col">Debit</td>
                <td scope="col">Account debit</td>
                <td scope="col">Credit</td>
                <td scope="col">Account credit</td>
                <td scope="col">Company</td>
                <td scope="col">Contractor</td>
                <td scope="col">Description</td>
            </tr>
            </thead>
            <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.transactionDate}"></td>
                <td th:text="${transaction.amountDebit}"></td>
                <td th:text="${transaction.accountDebit.accountName}"></td>
                <td th:text="${transaction.amountCredit}"></td>
                <td th:text="${transaction.accountCredit.accountName}"></td>
                <td th:text="${transaction.company.companyName}"></td>
                <td th:text="${transaction.contractor.contractorName}"></td>
                <td th:text="${transaction.description}"></td>
                <td>
                    <a th:href="@{'/deletetransaction/' + ${transaction.getId()}}" class="btn btn-outline-danger" role="button" aria-pressed="true">X</a>
                </td>
            </tr>
        </table>
        </p>

    </div>
    <div id="clear">

    </div>
    <div id="footer" class="footer">

    </div>


</div>

</body>
</html>